* {
    font-weight: 400;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
.h4, h4 {
    font-size: 1.5rem;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
ul {
    list-style-type:none;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.links {
    display: inline-block;
    > a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.title {
    font-size: 84px;
}

.menu {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #fff;
    padding: 18px 10px;
}

.m-b-md {
    margin-bottom: 30px;
}

.y-center {
    margin-top: 50%;
    transform: translateY(-50%);
}

.form-head, .table-head {
    padding: 10px;
}

.cursor-pointer * {
    cursor: pointer;
}
